#nameInput {
    width: 50%;
}
.rakkas-regular {
    font-family: "Rakkas", serif;
    font-weight: 400;
    font-style: normal;
  }
.caveat-inter {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 4px;
    height: 32px;
    width: 90px;
    border: none;
    background: #1b1b1cd0;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .lable {
    line-height: 22px;
    font-size: 17px;
    color: #54a0f7;
    font-family: sans-serif;
    letter-spacing: 1px;
  }
  
  .button:hover {
    background: #1b1b1cea;
  }
  
  .button:hover .svg-icon {
    animation: rotate 1.3s linear infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(10deg);
    }
  
    50% {
      transform: rotate(0deg);
    }
  
    75% {
      transform: rotate(-10deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }